* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

img {
  vertical-align: top;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
  font-family: inherit;
}

::placeholder {
  color: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(227, 226, 233);
}

.weather {
  width: 100%;
  max-width: 540px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px;
}

.weather__header {
  width: 100%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: #52b5f2;
  overflow: hidden;
}

.weather__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.weather__title span {
  text-align: center;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px -1px 3px #0d1927;
  transform: translate(0, -100px);
  transition: all 0.7s;
}
.weather__title span:nth-child(1) {
  transition-delay: 0.1s;
}
.weather__title span:nth-child(2) {
  transition-delay: 0.2s;
}
.weather__title span:nth-child(3) {
  transition-delay: 0.3s;
}
.weather__title span:nth-child(4) {
  transition-delay: 0.4s;
}
.weather__title span:nth-child(5) {
  transition-delay: 0.5s;
}
.weather__title span:nth-child(6) {
  transition-delay: 0.6s;
}
.weather__title span:nth-child(7) {
  transition-delay: 0.7s;
}
.weather__title span:nth-child(8) {
  transition-delay: 0.8s;
}
.weather__title span:nth-child(9) {
  transition-delay: 0.9s;
}
.weather__title span:nth-child(10) {
  transition-delay: 1s;
}
.weather__title span:nth-child(11) {
  transition-delay: 1.1s;
}
.weather__title span:nth-child(12) {
  transition-delay: 1.2s;
}
.weather__title span:nth-child(13) {
  transition-delay: 1.3s;
}
.weather__title span:nth-child(14) {
  transition-delay: 1.4s;
}
.weather__title span:nth-child(15) {
  transition-delay: 1.5s;
}
.weather__title .untranslate {
  transform: translate(0, 0);
}

.weather__form {
  width: 100%;
}

.weather__form-inner {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.weather__form-input {
  height: 100%;
  padding: 10px;
  flex-grow: 1;
  font-weight: 500;
  color: rgb(248, 152, 9);
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: rgba(227, 226, 233, 0.3);
}
.weather__form-input::-moz-placeholder {
  color: rgba(121, 129, 122, 0.6);
  text-transform: lowercase;
  letter-spacing: 0;
}
.weather__form-input::placeholder {
  color: rgba(121, 129, 122, 0.6);
  text-transform: lowercase;
  letter-spacing: 0;
}

.weather__form-btn {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 152, 9);
  color: #fff;
}

.weather__card {
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.weather__list {
  background-color: #52b5f2;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bg-image 1.5s 1 linear;
  border-radius: 6px;
}

#error,
#empty {
  background-color: transparent;
}
#error .weather__list-item,
#empty .weather__list-item {
  padding: 0 15px;
  background-color: rgba(227, 226, 233, 0.7);
}

@keyframes bg-image {
  0% {
    background-position: bottom -100% center;
  }
  100% {
    background-position: top center;
  }
}
.weather__list-item {
  list-style: none;
  width: 100%;
  min-height: 40px;
  padding: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
}
.weather__list-item:nth-child(1) {
  transition-delay: 0.1s;
}
.weather__list-item:nth-child(2) {
  transition-delay: 0.2s;
}
.weather__list-item:nth-child(3) {
  transition-delay: 0.3s;
}
.weather__list-item:nth-child(4) {
  transition-delay: 0.4s;
}
.weather__list-item:nth-child(5) {
  transition-delay: 0.5s;
}
.weather__list-item:nth-child(6) {
  transition-delay: 0.6s;
}
.weather__list-item:nth-child(7) {
  transition-delay: 0.7s;
}
.weather__list-item:nth-child(8) {
  transition-delay: 0.8s;
}
.weather__list-item:nth-child(9) {
  transition-delay: 0.9s;
}
.weather__list-item:nth-child(10) {
  transition-delay: 1s;
}
.weather__list-item span:not(:first-child) {
  display: block;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  text-align: right;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px -1px 3px #0d1927;
}

.visible {
  opacity: 1;
  transition: all 0.3s;
}

.error-item {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 6px;
  background-color: rgba(227, 226, 233, 0.3);
  color: rgb(255, 0, 0);
  font-weight: 700;
  overflow: hidden;
}

.weather__list-item + .weather__list-item {
  margin-top: 10px;
}

.weather__list-title {
  display: block;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  color: rgb(248, 152, 9);
  font-weight: 700;
  text-shadow: 1px -1px 3px #302606;
}

.weather__list-img {
  width: 74px;
  height: 74px;
}/*# sourceMappingURL=style.css.map */