
.weather {
  width: 100%;
  max-width: 540px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px;
  // background-color: rgb(156, 5, 146);
}
.weather__header {
  width: 100%;
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: $secondary-color;
  overflow: hidden;
}
.weather__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  span {
    text-align: center;
    font-size: 36px;
    color: #fff;
    text-shadow: 1px -1px 3px #0d1927;
    transform: translate(0, -100px);
    transition: all .7s;
    

    &:nth-child(1) {
      transition-delay: .1s;
    }
    &:nth-child(2) {
      transition-delay: .2s;
    }
    &:nth-child(3) {
      transition-delay: .3s;
    }
    &:nth-child(4) {
      transition-delay: .4s;
    }
    &:nth-child(5) {
      transition-delay: .5s;
    }
    &:nth-child(6) {
      transition-delay: .6s;
    }
    &:nth-child(7) {
      transition-delay: .7s;
    }
    &:nth-child(8) {
      transition-delay: .8s;
    }
    &:nth-child(9) {
      transition-delay: .9s;
    }
    &:nth-child(10) {
      transition-delay: 1s;
    }
    &:nth-child(11) {
      transition-delay: 1.1s;
    }
    &:nth-child(12) {
      transition-delay: 1.2s;
    }
    &:nth-child(13) {
      transition-delay: 1.3s;
    }
    &:nth-child(14) {
      transition-delay: 1.4s;
    }
    &:nth-child(15) {
      transition-delay: 1.5s;
    }
   }
   .untranslate {
    transform: translate(0, 0);
  }

}



.weather__form {
  width: 100%;
}
.weather__form-inner {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}
.weather__form-input {
  height: 100%;
  padding: 10px;
  flex-grow: 1;
  font-weight: 500;
  color:rgb(248, 152, 9);
  text-transform: capitalize;
  letter-spacing: 1px;
  background-color: $item-color;
  // text-shadow: 1px -1px 2px #302606;

  &::placeholder {
    color:rgba($main-color, .6);
    text-transform:lowercase;
    letter-spacing: 0;
  }
}
.weather__form-btn {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 152, 9);
  color:#fff;
}
.weather__card {
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.weather__list {
  background-color: $secondary-color;
 background-size: contain;
 background-repeat: no-repeat;
 animation:bg-image 1.5s 1 linear;
 border-radius: 6px;
}

#error,
#empty {
  background-color: transparent;

  .weather__list-item {
    padding: 0 15px;
    background-color: rgba(227, 226, 233, 0.7);
  }
}

@keyframes bg-image {
  0% {
    background-position: bottom -100% center;
  }
  100% {
    background-position:  top center;
  }
}

.weather__list-item {
  list-style: none;
  width: 100%;
  min-height: 40px;
  padding: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
//  transition: all 1s;

  &:nth-child(1) {
    transition-delay: .1s;
  }
  &:nth-child(2) {
    transition-delay: .2s;
  }
  &:nth-child(3) {
    transition-delay: .3s;
  }
  &:nth-child(4) {
    transition-delay: .4s;
  }
  &:nth-child(5) {
    transition-delay: .5s;
  }
  &:nth-child(6) {
    transition-delay: .6s;
  }
  &:nth-child(7) {
    transition-delay: .7s;
  }
  &:nth-child(8) {
    transition-delay: .8s;
  }
  &:nth-child(9) {
    transition-delay: .9s;
  }
  &:nth-child(10) {
    transition-delay: 1s;
  }
  

  span:not(:first-child) {
    display: block;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: right;
    color:#fff;
    font-weight: 700;
    text-shadow: 1px -1px 3px #0d1927;
  }

}

.visible {
 opacity: 1;
 transition: all .3s;
}
.error-item {
  border:2px solid $error-color;
  border-radius: 6px;
  background-color: $item-color;
  color:$error-color;
  font-weight: 700;
  overflow: hidden;
}

.weather__list-item + .weather__list-item {
  margin-top: 10px;
}

.weather__list-title {
  display: block;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
   color:rgb(248, 152, 9);
  // -webkit-text-stroke: .5px #fff;
  font-weight: 700;
  text-shadow: 1px -1px 3px #302606;
}

.weather__list-img {
  width: 74px;
  height: 74px;
}